<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixiang.ssm.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.lixiang.ssm.entity.Article">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="column_id" jdbcType="INTEGER" property="columnId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="thumb" jdbcType="VARCHAR" property="thumb" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lixiang.ssm.entity.Article">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, column_id, title, summary, content,thumb, create_date, update_date
  </sql>
  
  <select id="getAllArticle" resultMap="BaseResultMap">
  select 
  <include refid="Base_Column_List"></include>
  from t_article
  </select>
  
</mapper>