<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixiang.ssm.mapper.SysFunctionMapper">
	<resultMap id="BaseResultMap" type="com.lixiang.ssm.entity.SysFunction">
		<id column="FUNCTION_ID" jdbcType="INTEGER" property="functionId" />
		<result column="PARENT_ID" jdbcType="INTEGER" property="parentId" />
		<result column="FUNCTION_NAME" jdbcType="VARCHAR" property="functionName" />
		<result column="FUNCTION_URL" jdbcType="VARCHAR" property="functionUrl" />
		<result column="FUNCTION_TYPE" jdbcType="INTEGER" property="functionType" />
		<result column="PERMISSION" jdbcType="VARCHAR" property="permission" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="SORT" jdbcType="INTEGER" property="sort" />
	</resultMap>
	<sql id="Base_Column_List">
		FUNCTION_ID, PARENT_ID, FUNCTION_NAME, FUNCTION_URL, FUNCTION_TYPE, PERMISSION,
		CREATE_TIME,
		SORT
	</sql>
	<select id="getSysFunctionByUserId" resultMap="BaseResultMap">
		SELECT 
		sf.FUNCTION_ID, sf.PARENT_ID, sf.FUNCTION_NAME, sf.FUNCTION_URL,
		sf.FUNCTION_TYPE, sf.PERMISSION, sf.CREATE_TIME,sf.SORT
		FROM 
		t_sys_function sf
		JOIN t_sys_role_function srf ON sf.function_id=srf.function_id
		JOIN t_sys_role sr ON sr.role_id=srf.role_id
		JOIN t_sys_user_role sur ON sur.role_id=sr.role_id
		JOIN t_sys_user su ON su.user_id=sur.user_id
		WHERE su.user_id=#{userId}
	</select>

</mapper>